:root {
  --color-primary: #5928B2;
  --color-secondary: #F5647F;
  --color-white: #ffffff;
  --color-gradient: linear-gradient(to bottom, #884CF5, #4E229C);
  --border-purple: 2px solid #5928B2;
  --text-primary: 'Bubblegum Sans', cursive;
  --text-secondary: 'Courier Prime', monospace;
  --text-tertiary: 'Source Sans 3', sans-serif;
}


a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
}

.App {
  background-image: url('/public/assets/bgSeamless.png');
  color: var(--color-white);
  font-family: var(--text-secondary);
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

/* ---------------------------------------------------------- */
/* NAVIGATION BAR */
/* ---------------------------------------------------------- */

.navigation-container, .top-nav-header, ul {
  display: flex;
  width: 100%;
}

.navigation-container {
  position: relative;
  margin: 4% 0 6% 0;
}

.top-nav-header, .bot-nav-header {
  align-items: center;
}

.logo-bg {
  background: white;
  border-radius: 50%;
}

.pc-logo {
  width: 112px;
  height: 112px;
}

h3 {
  font-family: var(--text-primary);
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
  margin: 0;
  margin-bottom: 5px;
}

.top-nav-large-card {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  background: var(--color-gradient);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  border: var(--border-purple);
  justify-content: space-evenly;
  padding: 1%;
  z-index: 3;
}

.top-nav-socials {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.socials-icon-container {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  border: 2px solid var(--color-secondary);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: contain;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.social-icon:hover {
  border: 2px solid #AD4055;
}

.discord {
  background-image: url('/public/assets/discord-icon.png');
}

.twitter {
  background-image: url('/public/assets/twitter-icon.png');
}

.steam {
  background-image: url('/public/assets/steam-icon.png');
}

.navigation-links {
  display: flex;
  align-items: center;
  flex-basis: 70%;
  background: var(--color-gradient);
  height: 70%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  z-index: 2;
}

.nav-mobile-ul {
  display: none;
}

.navigation-links ul {
  list-style: none;
  padding: 0 5%;
  justify-content: space-between;
  font-size: 32px;
  font-family: var(--text-primary);
}

.active{
  color: var(--color-secondary);
}

.bot-nav-header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bot-nav-skewed-large-card {
  background: var(--color-secondary);
  flex-basis: 32%;
  height: 100%;
  transform: translateX(-2%) rotate(348deg);
}

.bot-nav-skewed-small-cards {
  display: flex;
  flex-basis: 68%;
  position: relative;
}

.nav-card {
  position: absolute;
  width: 100px;
  height: 110px;
  background-color: var(--color-secondary);
}

.card-one {
  transform: rotate(15deg) translate(30%, -8%);
}

.card-one:hover {
  transform: rotate(10deg) translate(30%, -13%);
}

.card-two {
  transform: rotate(-12deg) translate(185%, 25%);
}

.card-two:hover {
  transform: rotate(-15deg) translate(185%, 25%);
}

.card-three {
  transform: rotate(-20deg) translate(420%, 215%);
  height: 75px;
}

.card-three:hover {
  transform: rotate(-15deg) translate(420%, 170%);
}

/* ---------------------------------------------------------- */
/* HOME PAGE */
/* ---------------------------------------------------------- */

.App-header {
  background: var(--color-gradient);
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Navigation {
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.Home {
  background: var(--color-gradient);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* avoid using pixels unless absolutely necessary - messes with responsiveness */
  padding: 3%;
  margin-bottom: 30px;
  z-index: 0;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#headerimg {
  filter: brightness(80%);
}

.banner-video {
  position: absolute;
  width: 70%;
  height: 90%;
}

.blurb {
  background-color: var(--color-secondary);
  align-self: center;
  margin: 4%;
  padding: 2%;
  font-size: x-large;
  box-shadow: 0px -4px 8px #A13D51 inset;
  position: relative;
  border-radius: 2px;
}

.blurb::before, .blurb::after {
  content: '';
  position: absolute;
  bottom: 10%;
  width: 45%;
  height: 15px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.blurb::before {
  left: 2%;
  transform: skew(-5deg) rotate(-5deg);
}

.blurb::after {
  right: 2%;
  transform: skew(5deg) rotate(5deg);
}

.home-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  flex-basis: 50%;
}

#abstract {
  margin: 0;
  font-family: var(--text-tertiary);
  font-size: 20px;
  background-color: #402278;
  padding: 3%;
  border-radius: 1rem 1rem;
  margin-bottom: 2%;
}

.release {
  margin: 4%;
  padding: 20px;
}

.steam-container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: #282F38;
  position: relative;
  margin-top: 2%;
}

.steam-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.steam-title h4 {
  font-size: 20px;
  font-family: var(--text-tertiary);
  margin: 0;
  padding: 0;
}

.steam-title span {
  color: gray;
}

.steam-title img {
  width: 5%;
  height: 5%;
  filter: brightness(75%);
}

.steam-info {
  display: flex;
  margin-bottom: 10px;
}

.steam-info img {
  width: 45%;
}

.steam-info p {
  font-family: var(--text-tertiary);
  font-size: 14px;
  margin: 0 0 0 3%;
}

.steam-platform-icons {
  display: flex;
  align-items: center;
}

.windows {
  margin-left: 2%;
  font-size: 20px;
}

.steam-buttons {
  font-family: var(--text-tertiary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: -8%;
  height: 20%;
  width: 100%;
  padding: 0 2%;
}

.steam-button-left {
  background-color: black;
  margin-right: 5px;
  padding: 1.5%;
}

.steam-button-right {
  padding: 1.5%;
  color: white;
  background: linear-gradient(#87BC3C, #45740B);
}

.steam-button-right:hover {
  color: white;
  filter: brightness(75%);
  cursor: pointer;
}

.home-screenshots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-screenshots img {
  width: 90%;
}

/* ---------------------------------------------------------- */
/* TEAM PAGE */
/* ---------------------------------------------------------- */
.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #884CF5, #4E229C);
  padding: 5%;
}

.member {
  display: flex;
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  margin-bottom: 5%;
  padding: 2%;
}

/* ---------------------------------------------------------- */
/* GAMES PAGE */
/* ---------------------------------------------------------- */
.games-content {
  align-items: center;
  background: linear-gradient(to top, #884CF5, #4E229C);
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.game {
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 2%;
}

/* ---------------------------------------------------------- */
/* PRESSKIT PAGE */
/* ---------------------------------------------------------- */
.presskit-content {
  align-items: start;
  background: linear-gradient(to top, #884CF5, #4E229C);
  display: flex;
  flex-direction: row;
  padding: 5% 5% 0% 5%;
}
.presskit-sidebar {
  min-width: 25%;
}
.presksit-mainbar {

}
.mainbar-entry {
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 1% 4%;
}
.presskit-features {
  display: flex;
  flex-direction: column;
}
.game-images {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.screenshot {
  margin-bottom: 2%;
  width: 40%;
}
.screenshot:hover {
  cursor: pointer;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 5%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ---------------------------------------------------------- */
/* BLOG PAGE */
/* ---------------------------------------------------------- */
.blog-content {
  align-items: center;
  background: linear-gradient(to top, #884CF5, #4E229C);
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0% 5%;
  width: 90%;
}
.blog-entry {
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 2%;
  width: 96%
}


/* ---------------------------------------------------------- */
/* RESPONSIVENESS */
/* ---------------------------------------------------------- */

/* X-LAGRE SCREENS */
@media screen and (max-width: 1536px) {
  .pc-logo {
    width: 96px;
    height: 96px;
  }
  .social-icon {
    width: 48px;
    height: 48px;
  }
  .navigation-links ul, h3 {
    font-size: 30px;
  }
  .nav-card {
    width: 85px;
    height: 95px;
  }
  .card-three {
    height: 65px;
  }
}

@media screen and (max-width: 1400px) {
  .navigation-links ul, h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1320px) {
  .navigation-links ul, h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1200px) {
  .navigation-links ul, h3 {
    font-size: 24px;
  }
}

/* LARGE SCREENS */
@media screen and (max-width: 1280px) {
  .pc-logo {
    width: 82px;
    height: 82px;
  }
  .social-icon {
    width: 42px;
    height: 42px;
  }
  .nav-card {
    width: 75px;
    height: 85px;
  }
  .card-three {
    height: 55px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .home-description {
    width: 100%;
  }
  #abstract {
    width: 90%;
  }
  .blurb {
    width: 80%;
    font-size: larger;
    text-align: center;
  }
  #release {
    font-size: larger;
  }
  h1 {
    font-size: x-large;
  }
  .member {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .member-photo {
    width: 50%;
  }
  .member-blurb {
    text-align: left;
  }
}

@media screen and (max-width: 1130px) {
  .navigation-links ul, h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1075px) {
  .navigation-links ul, h3 {
    font-size: 20px;
  }
}

/* MEDIUM TABLET TERRITORY*/
@media screen and (max-width: 1024px) {
  .pc-logo {
    width: 70px;
    height: 70px;
  }
  .navigation-links ul, h3 {
    font-size: 18px;
  }
  .social-icon {
    width: 32px;
    height: 32px;
  }
  .nav-card {
    width: 65px;
    height: 75px;
  }
  .card-three {
    height: 45px;
    transform: rotate(-20deg) translate(391%, 220%);
  }
  .card-three:hover {
    transform: rotate(-15deg) translate(391%, 175%);
  }
}

/* MEDIUM MOBILE TERRITORY*/
@media screen and (max-width: 900px) {
  .pc-logo {
    width: 60px;
    height: 60px;
  }
  .social-icon {
    width: 28px;
    height: 28px;
  }
  .nav-card {
    width: 55px;
    height: 65px;
  }
  .card-three {
    height: 35px;
    transform: rotate(-20deg) translate(385%, 246%);
  }
}

@media screen and (max-width: 920px) {
  .pc-logo {
    width: 56px;
    height: 56px;
  }
}
@media screen and (max-width: 820px) {

  .social-icon {
    width: 26px;
    height: 26px;
  }
  .navigation-links ul, h3 {
    font-size: 16px;
  }
  .nav-card {
    width: 45px;
    height: 55px;
  }
  .card-three {
    transform: rotate(-20deg) translate(385%, 88%);
  }
  .card-three:hover {
    transform: rotate(-15deg) translate(385%, 50%);
  }
}

/* Special case for Surface Duo */
@media only screen and (width: 540px) and (height: 720px) {
  .bot-nav-skewed-small-cards {
    margin-top: 22% !important;
  }
}
@media only screen and (max-width: 740px) {
  .pc-logo {
    width: 48px;
    height: 48px;
  }
}

/* SMALL MOBILE */
@media screen and (max-width: 670px) {
  .top-nav-header, .bot-nav-header {
    flex-direction: column;
    align-items: inherit;
  }
  .top-nav-large-card {
    justify-content: center;
  }
  .top-nav-socials {
    padding: 0 3%;
  }
  .bot-nav-skewed-large-card {
    display: none;
  }
  .bot-nav-skewed-small-cards {
    margin-top: 18%;
  }
}

/* X-SMALL MOBILE */
@media screen and (max-width: 450px) {
  .main-container {
    padding: 0 5%;
  }
  .navigation-container {
    margin: 6% 0 10% 0;
  }
  .pc-logo {
    width: 48px;
    height: 48px;
  }
  .navigation-links ul {
    display: none;
  }
  .nav-mobile-ul {
    display: flex !important;
  }
  .nav-mobile-li {
    font-size: 20px;
  }
  .bot-nav-skewed-small-cards {
    margin-top: 24%;
  }
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .home-description {
    width: 100%;
  }
  #abstract {
    width: 90%;
  }
  .blurb {
    width: 80%;
    font-size: larger;
    text-align: center;
  }
  #release {
    font-size: larger;
  }
  h1 {
    font-size: large;
  }
  .member {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .member-photo {
    width: 50%;
  }
  .member-blurb {
    text-align: left;
  }
}


@media screen and (max-width: 375px) {
  .nav-mobile-li {
    font-size: 16px;
  }
  .bot-nav-skewed-small-cards {
    margin-top: 26%;
  }
}

@media screen and (max-width: 280px) {
  .bot-nav-skewed-small-cards {
    margin-top: 30%;
  }
}

@media screen and (max-height: 320px) {
  .bot-nav-skewed-small-cards {
    margin-top: 20%;
  }
}

@media screen and (max-height: 280px) {
  .bot-nav-skewed-small-cards {
    margin-top: 18%;
  }
}