:root {
  --color-primary: #5928B2;
  --color-secondary: #F5647F;
  --color-white: #ffffff;
  --color-gradient: linear-gradient(to bottom, #884CF5, #4E229C);
  --border-purple: 2px solid #5928B2;
  --text-primary: 'Bubblegum Sans', cursive;
  --text-secondary: 'Courier Prime', monospace;
}


a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
}

.App {
  background-image: url('/public/assets/bgSeamless.png');
  color: var(--color-white);
  font-family: var(--text-secondary);
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

/* ---------------------------------------------------------- */
/* NAVIGATION BAR */
/* ---------------------------------------------------------- */

.navigation-container, .top-nav-header, ul {
  display: flex;
  width: 100%;
}

.navigation-container {
  position: relative;
  margin: 4% 0 6% 0;
}

.top-nav-header, .bot-nav-header {
  align-items: center;
}

.logo-bg {
  background: white;
  border-radius: 50%;
}

.pc-logo {
  width: 112px;
  height: 112px;
}

h3 {
  font-family: var(--text-primary);
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
  margin: 0;
  margin-bottom: 5px;
}

.top-nav-large-card {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  background: var(--color-gradient);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  border: var(--border-purple);
  justify-content: space-evenly;
  padding: 1%;
  z-index: 3;
}

.top-nav-socials {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.socials-icon-container {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  border: 2px solid var(--color-secondary);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: contain;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.social-icon:hover {
  border: 2px solid #AD4055;
}

.discord {
  background-image: url('/public/assets/discord-icon.png');
}

.twitter {
  background-image: url('/public/assets/twitter-icon.png');
}

.steam {
  background-image: url('/public/assets/steam-icon.png');
}

.navigation-links {
  display: flex;
  align-items: center;
  flex-basis: 70%;
  background: var(--color-gradient);
  height: 70%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  z-index: 2;
}

.nav-mobile-ul {
  display: none;
}

.navigation-links ul {
  list-style: none;
  padding: 0 5%;
  justify-content: space-between;
  font-size: 32px;
  font-family: var(--text-primary);
}

.active{
  color: var(--color-secondary);
}

.bot-nav-header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bot-nav-skewed-large-card {
  background: var(--color-secondary);
  flex-basis: 32%;
  height: 100%;
  transform: translateX(-2%) rotate(348deg);
}

.bot-nav-skewed-small-cards {
  display: flex;
  flex-basis: 68%;
  position: relative;
}

.nav-card {
  position: absolute;
  width: 100px;
  height: 110px;
  background-color: var(--color-secondary);
}

.card-one {
  transform: rotate(15deg) translate(30%, -8%);
}

.card-one:hover {
  transform: rotate(10deg) translate(30%, -13%);
}

.card-two {
  transform: rotate(-12deg) translate(185%, 25%);
}

.card-two:hover {
  transform: rotate(-15deg) translate(185%, 25%);
}

.card-three {
  transform: rotate(-20deg) translate(420%, 215%);
  height: 75px;
}

.card-three:hover {
  transform: rotate(-15deg) translate(420%, 170%);
}

/* ---------------------------------------------------------- */
/* HOME PAGE */
/* ---------------------------------------------------------- */

.App-header {
  background: var(--color-gradient);
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Navigation {
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.Home {
  background: var(--color-gradient);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* avoid using pixels unless absolutely necessary - messes with responsiveness */
  padding: 5%;
  margin-bottom: 30px;
}

#headerimg {
  align-self: center;
}

.blurb {
  background-color: var(--color-secondary);
  align-self: center;
  margin: 50px;
  padding: 20px;
  font-size: x-large;
}

.home-content {
  display: flex;
  justify-content: space-evenly;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 50%;
}

#abstract {
  width: 80%;
}

#release {
  background-color: var(--color-secondary);
  font-size: x-large;
  margin: 20px;
  padding: 20px;
}

.home-screenshots {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ---------------------------------------------------------- */
/* TEAM PAGE */
/* ---------------------------------------------------------- */
.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #884CF5, #4E229C);
  padding: 5%;
}

.member {
  display: flex;
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  margin-bottom: 5%;
  padding: 2%;
}

/* ---------------------------------------------------------- */
/* GAMES PAGE */
/* ---------------------------------------------------------- */
.games-content {
  align-items: center;
  background: linear-gradient(to top, #884CF5, #4E229C);
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.game {
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 2%;
}


/* ---------------------------------------------------------- */
/* BLOG PAGE */
/* ---------------------------------------------------------- */
.blog-content {
  align-items: center;
  background: linear-gradient(to top, #884CF5, #4E229C);
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0% 5%;
  width: 90%;
}
.blog-entry {
  align-items: center;
  background: #4E229C;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  padding: 2%;
  width: 96%
}


/* ---------------------------------------------------------- */
/* RESPONSIVENESS */
/* ---------------------------------------------------------- */

/* X-LAGRE SCREENS */
@media screen and (max-width: 1536px) {
  .pc-logo {
    width: 96px;
    height: 96px;
  }
  .social-icon {
    width: 48px;
    height: 48px;
  }
  .navigation-links ul, h3 {
    font-size: 30px;
  }
  .nav-card {
    width: 85px;
    height: 95px;
  }
  .card-three {
    height: 65px;
  }
}

@media screen and (max-width: 1400px) {
  .navigation-links ul, h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1320px) {
  .navigation-links ul, h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1200px) {
  .navigation-links ul, h3 {
    font-size: 24px;
  }
}

/* LARGE SCREENS */
@media screen and (max-width: 1280px) {
  .pc-logo {
    width: 82px;
    height: 82px;
  }
  .social-icon {
    width: 42px;
    height: 42px;
  }
  .nav-card {
    width: 75px;
    height: 85px;
  }
  .card-three {
    height: 55px;
  }
}

@media screen and (max-width: 1130px) {
  .navigation-links ul, h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1075px) {
  .navigation-links ul, h3 {
    font-size: 20px;
  }
}

/* MEDIUM TABLET TERRITORY*/
@media screen and (max-width: 1024px) {
  .pc-logo {
    width: 70px;
    height: 70px;
  }
  .navigation-links ul, h3 {
    font-size: 18px;
  }
  .social-icon {
    width: 32px;
    height: 32px;
  }
  .nav-card {
    width: 65px;
    height: 75px;
  }
  .card-three {
    height: 45px;
    transform: rotate(-20deg) translate(391%, 220%);
  }
  .card-three:hover {
    transform: rotate(-15deg) translate(391%, 175%);
  }
}

/* MEDIUM MOBILE TERRITORY*/
@media screen and (max-width: 900px) {
  .pc-logo {
    width: 60px;
    height: 60px;
  }
  .social-icon {
    width: 28px;
    height: 28px;
  }
  .nav-card {
    width: 55px;
    height: 65px;
  }
  .card-three {
    height: 35px;
    transform: rotate(-20deg) translate(385%, 246%);
  }
}

@media screen and (max-width: 920px) {
  .pc-logo {
    width: 56px;
    height: 56px;
  }
}
@media screen and (max-width: 820px) {

  .social-icon {
    width: 26px;
    height: 26px;
  }
  .navigation-links ul, h3 {
    font-size: 16px;
  }
  .nav-card {
    width: 45px;
    height: 55px;
  }
  .card-three {
    transform: rotate(-20deg) translate(385%, 88%);
  }
  .card-three:hover {
    transform: rotate(-15deg) translate(385%, 50%);
  }
}

/* Special case for Surface Duo */
@media only screen and (width: 540px) and (height: 720px) {
  .bot-nav-skewed-small-cards {
    margin-top: 22% !important;
  }
}
@media only screen and (max-width: 740px) {
  .pc-logo {
    width: 48px;
    height: 48px;
  }
}

/* SMALL MOBILE */
@media screen and (max-width: 670px) {
  .top-nav-header, .bot-nav-header {
    flex-direction: column;
    align-items: inherit;
  }
  .top-nav-large-card {
    justify-content: center;
  }
  .top-nav-socials {
    padding: 0 3%;
  }
  .bot-nav-skewed-large-card {
    display: none;
  }
  .bot-nav-skewed-small-cards {
    margin-top: 18%;
  }
}

/* X-SMALL MOBILE */
@media screen and (max-width: 450px) {
  .main-container {
    padding: 0 5%;
  }
  .navigation-container {
    margin: 6% 0 10% 0;
  }
  .pc-logo {
    width: 48px;
    height: 48px;
  }
  .navigation-links ul {
    display: none;
  }
  .nav-mobile-ul {
    display: flex !important;
  }
  .nav-mobile-li {
    font-size: 20px;
  }
  .bot-nav-skewed-small-cards {
    margin-top: 24%;
  }
}

@media screen and (max-width: 375px) {
  .nav-mobile-li {
    font-size: 16px;
  }
  .bot-nav-skewed-small-cards {
    margin-top: 26%;
  }
}

@media screen and (max-width: 280px) {
  .bot-nav-skewed-small-cards {
    margin-top: 30%;
  }
}

@media screen and (max-height: 320px) {
  .bot-nav-skewed-small-cards {
    margin-top: 20%;
  }
}

@media screen and (max-height: 280px) {
  .bot-nav-skewed-small-cards {
    margin-top: 18%;
  }
}